@font-face {
    font-family: 'Presentation-300';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2404@1.0/Freesentation-3Light.woff2') format('woff2');
    font-weight: 300;
    font-display: swap;
}

@import url("https://cdn.jsdelivr.net/gh/wanteddev/wanted-sans@v1.0.3/packages/wanted-sans/fonts/webfonts/variable/complete/WantedSansVariable.min.css");


@font-face {
    font-family: 'Paperozi-900';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-9Black.woff2') format('woff2');
    font-weight: 900;
    font-display: swap;
}



*{
  font-family: 'Wanted Sans Variable'; 
}

html, body, section, h1,h2,h3,h4, p,a{
  margin:0;
}
body {
  cursor: none;
}
a{
  cursor: none;
}

:root{
  --neon-blue: #48e2fe;
  --neon-green: #acf975;
}

::-webkit-scrollbar {
  display: none;
}
html{
  scroll-behavior: smooth;
}
html,body {
      position: relative;
      height: 100%;
    }

    body {
      background-color: white;
      transition: background-color 0.5s ease;
      font-size: 14px;
      color: #000;
      margin: 0;
      padding: 0;
      overflow-x: hidden;
    }
    body::selection{
      background-color: var(--BETA-LIGHTBROWN);
    }

    section{padding: 50px 0px;}

    h1{font-family: 'Wanted Sans Variable'; font-weight:700;
      font-size:3rem; margin: 0; line-height:3rem;
      word-break: keep-all; font-weight: normal;}    
    h2{font-size:1.5rem; font-weight: normal; word-break: keep-all;
      line-height: 2.3rem;}
    .enh2{font-size:1.7rem; line-height: 2.0rem;}
    h3{font-size:1.rem; font-weight: normal; word-break: keep-all;}
    p{font-size: 0.9rem; line-height: 1.7rem; word-break: keep-all;}


    .bold{
      font-weight: bold;
    }

    a{text-decoration: none; color: black;}


    .bottomM{
      margin-bottom: 30px;
    }
    .tum{
      height:100px;
    }
    .tum-50{
      height:50px;
    }

    .wrap{
      width:85%; 
      margin: 0 auto;
    }
    .flex{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    .flexitem-2{
      width:48%;
    }

    .flex_designer{
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      gap: 5%;
    }
    

    .t-center{
      text-align: center;
    }
    .t-left{
      text-align: left;
    }
    .t-right{
      text-align: right;
    }

    .t-white{
      color:white;
    }

    .blur{
      backdrop-filter:blur(10px);
    }

    #nav{
      position: fixed; top:20px; left:0; z-index: 5; 
      width: 100%; text-align: left;
      padding-bottom: 15px;
      }
    .topMargin{height: 10vh;}
    #banner{
      width:100%;
      height: 20vh;
      background-color: white;
      
    }
    #banner-img{
      width:100%

    }

    .hiddenobj{display: none;}
    .menu{
      font-size:1rem; padding:0.6rem; cursor:pointer;
      position: relative;}
    .menu::after{
      content: "";
      position: absolute;
      left: 30px; /* 텍스트 패딩에 맞춰 조정 */
      bottom: 15px; /* 텍스트 아래로 밑줄 */
      width: calc(100% - 60px); /* 전체 너비에서 padding 제외 */
      height: 3px;
      background-color: var(--neon-blue);
      transform: scaleX(0);
      transform-origin: left;
      transition: transform 0.3s ease;
    }
    .menu:hover::after{
      transform: scaleX(1);
    }
    .menu.selected::after {
      transform: scaleX(1); /* 항상 보이도록 */
    }


    .nav_img{height:3rem;}

    #cursor{
      position: fixed;
      top: 0; left: 0;
      width: 1.5rem; /* 동그라미 크기: 필요하면 변경 */
      height: 1.5rem;
      border: 0.08rem solid black;
      border-radius: 50%;
      pointer-events: none; /* 클릭 등 이벤트를 방해하지 않도록 */
      z-index: 10;
    }


  

    #main{
    	left: 0;}

    .logo{width:90%; display: inline-block;}
    #maintext{position: fixed; top: 15vh; left:15vw;
      }

    .logoimg{width: 7rem;}
    .imglink{
      height:6rem; padding: 1rem;
    }

    .main-flex{
      display: flex;
      flex-direction: column;
      gap: 2rem;
    }
    .main-grid{
      display: grid;
      grid-template-columns: 1fr 1.5fr;
    }
    .main-txt-grid{
      display: grid;
      grid-template-columns: 1fr 2fr;
      gap: 1rem;
    }
    .main-text-grid-sub{
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }
    .main-thumb{
      width: 100%;
    }




    .filter-button{
      all: unset;        /* 모든 기본 스타일 제거 */
      cursor: pointer;   
      display: inline-block; 
      size: 1.5rem;
      padding: 15px;
    }

    .filter-button:hover{
      color: var(--neon-blue);
    }

    .filter-button:selected{
      color: var(--neon-green);
    }

    .filter-menu{
      padding: 30px 0px;
    }

.gallery {
      column-count: 4;
      column-gap: 2rem;  /* 열 사이 간격 */
      padding: 1rem;
    }

    article {
      display: inline-block; /* column 레이아웃에서 꼭 필요 */
      width: 100%;
      margin-bottom: 1rem;
      overflow: hidden;
      break-inside: avoid; /* 잘림 방지 */
    }

    article img {
      width: 100%;
      height: auto; /* 원본 비율 유지 */
      display: block;
    }

    .caption {
      padding: 0.5rem 1rem;
      font-size: 14px;
      color: #333;
    }

    .work-txt{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      text-align: left;
      margin: 2rem 0rem;
    }
    .work-img{
      display: block;
      width:100%; margin:0.2rem;}
    .work-img-2{
      display: block;
      width:50%; margin:0.1rem;
    }

    /* 반응형 */
    @media (max-width: 1200px) {
      .gallery { column-count: 3; }
    }
    @media (max-width: 768px) {
      .gallery { column-count: 2; }
    }
    @media (max-width: 480px) {
      .gallery { column-count: 1; }
    }